
.homeContent .alert {
	margin-top: 20px;
}
.topArticles h3 {
	margin: 20px 0;
	padding-left: 20px;
	text-align: left;
}
.card.card-plain.card-blog {
	margin: 0;
}
.homeContent {
	padding: 80px 10%;
	max-width: 1200px;
	margin: 0 auto;
}
.articleList {
	background-color: #fff;
	padding: 10px 0;
	box-sizing: border-box;
	max-height: 258px;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.articleList .title {
	text-align: center;
	margin: 5px 0 3px 0;
}
.articleList .divider {
	height: 3px;
	width: 80px;
	background-color: #444;
	margin: 0 auto;
}
.articleList ul {

	margin: 20px 0 10px 0;
}
.articleList ul li {
	list-style: none;
	margin: 10px 0;
	font-size: 15px;
}
.articleList ul li a {
	color: #444;
	cursor: pointer;

	font-size: 22px;
}
.articleList ul li a:hover {
	color: #4caf50;
	cursor: pointer;
}
#body {
	background-color: #fafafa;
}
.no-gutter {
	max-height: 320px;
	padding: 10px 0;
}
h4.card-title {
		white-space: nowrap;
		max-height: 28px;
		max-width: 290px;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: left;
		padding-left: 5px;
	}
.dailyArticleSection .card.card-plain.card-blog {
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(200, 200, 200, 0.5);
	border-radius: 0px;
}
.dailyArticleSection .card .card-image {
	height: auto;
	max-height: 300px;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.dailyArticleSection .card .card-image img {
	height: 300px;
}
.card .card-content .label {
	float: left;
	position: relative;
	top: 3px;
}
.card .card-content .author {
	float: left;
}
.card .card-content {
	padding-top: 5px;
	padding-bottom: 25px;
}
.pagination {
	margin: 0;
}
.card .card-content .footer {
	padding-bottom: 20px;
}
.dailyArticleSection .card.card-plain.card-blog {
	margin: 30px 0;
}
.dailyArticleSection {
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	padding: 15px 10% 15px 15px;
	margin-top: 25px;
}
.carousel .item {
	overflow: hidden;
	width: 100%;
	height: auto;
	max-height: 258px;
}
.owl-carousel .item h4 {
	color: white;
	font-weight: 900;
	font-size: 24px;

}
.owl-carousel .item img {
	height: 320px;
	width: 100%;
	max-height: 320px;
}
.card.card-carousel {
	margin-bottom: 15px;
}
.tab-content .card-description {
	font-size: 14px;
}
.card-description {
	font-size: 18px;
	margin: 5px 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
.card-blog .row .category {
	margin: 15px 0;
}
.card-nav-tabs .col-md-8 .row .card {
	height: 150px;
}
.dailyArticleSection .card-description {
	font-size: 14px;
	color: #444;
}
#sync1 .item {
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

.owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
	font-size: 40px;
	margin-top: -20px;
	position: absolute;
	top: 40%;
	border-radius: 0;
	padding-bottom: 10px;
	height: 50px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5)
}
#sync1.owl-theme .owl-next:hover,
#sync1.owl-theme .owl-prev:hover {
	color: #4caf50;
	background-color: rgba(0, 0, 0, 0.1)
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}
.owl-dots {
	position: relative;
	bottom: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0;
}
.articleList {
	height: auto;
	min-height: 320px;
	padding-left: 10px;
}
.carousel-col {
	padding-right: 10px;
}
.owl-carousel .owl-stage-outer {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
@media only screen and (max-width: 780px) {
	.homeContent {
		padding: 80px 5px;
	}
	.footer-follow {
		margin-top: 20px;
		margin-bottom: 5px;
	}

}