.resultContent {
    padding: 100px 20%;
}
h1 {
    font-size: 28px;
}
body {
    background-color: #fdfdfd;
}
.scoreRange {
    position: relative;
}
.targetScore {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: #3c763d;
}