.resultContent {
    width: 1000px;
    margin: 80px auto 20px auto;
}
h1 {
    font-size: 23px;
    margin-bottom: 20px;
}
body {
    background-color: #fdfdfd;
}
.scoreRange {
    position: relative;
}
.targetScore {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: #3c763d;
}
.targetBlock {
    box-shadow: 0 0 20px green;
}
@media only screen and (max-width: 1000px) {
    .resultContent {
        max-width: 100%;
        width:85%;
    }
    .card .card-content {
        padding: 10px 20px;
    }
}