.allSurveys {
    max-width: 1000px;
    margin: 100px auto;
    background-color: #fafafa;
}
.card-title a {
    max-width: 100%;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2.title {
    padding-left: 10px;
}
.dailysurveySection .card-title a {
    font-weight: 100;
}
.dailysurveySection .hoverable {
    transition: 0.4s;
}
.dailysurveySection .hoverable:hover {
    margin-bottom: 10px; 
}
body {
    background-color: #fafafa;
}
.allSurveys .col-md-5 {
    padding-left: 0;
}
.dailysurveySection .card-title {
    min-height: 55px;
    max-height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.authorDescription {
    margin: 10px 35px 10px 45px;
    color: #5e5e5e;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author.left span {
    font-weight: 900;
    vertical-align: -5px;
    font-size: 15px;
}
.card-description {
    text-align: left;
    margin: 10px 0px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.allsurveys .stats i {
    font-weight: 100;
    color: #444;
    vertical-align: -5px;
}
.stats span {
    font-weight: 500;
    color: #444;
}
.stats .questionNumber {
    margin: 0 25px;
}
.author img {
    margin: 0 5px 0 10px;
    display: inline-block;
}
.allsurveys  .label.label-success{
    vertical-align: 2.5px;
}
.allSurveys .card-img {
    max-height: 315px;
    overflow: hidden;
}
.startSurvey {
    display: block;
    max-width: 150px;
    margin: 10px auto 0 auto;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.card .card-content {
    padding-bottom: 10px;
    min-height: 250px;
    position: relative;
}

.category-social i {
    color: #fafafa;
}
.category-social span { 
    margin-left: 5px;
    font-weight: 900;
    font-size: 14px;
    color: white;
}
@media only screen and (max-width: 500px) {
    .stats .questionNumber {
        margin: 0;
        display: block;
    }
    .authorDescription  {
        display: none;
    }
    .allSurveys {
        max-width: 1000px;
        margin: 50px auto;
        background-color: #fafafa;
    }
    h2.title {
        padding-left: 30px;
    }
    .startSurvey {
        display: none;
    }
}
@media only screen and (max-width: 413px) {
    .card-nav-tabs .nav-tabs, .card-plain {
        padding: 0 40px;
    }
}
/*.creationDate {
    width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20px;
    display: block
}*/